!!!
html
	head
		title="ScoreCard app"
		script(src='//code.jquery.com/jquery-latest.min.js')
		script(src='/scorecard.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='my.css', type='text/css')
	body
		.container(style='width:900px;height:350px;background:#eee;border:1px solid #ccc;margin:0 auto;')
			a(href="http://localhost:8000/scorecard") Nieuwe scorecard lopen
			