- each scorecard in scorecards
				h2.name= scorecard.name
				#hole1(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 1
					p Par 5
					button(onclick="increase(1)") +
					input#1(style='width:25px;' value="0")
					button(onclick="decrease(1)") -
				#hole2(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 2
					p Par 4
					button(onclick="increase(2)") +
					input#2(style='width:25px;' value="0")
					button(onclick="decrease(2)") -
				#hole3(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 3
					p Par 3
					button(onclick="increase(3)") +
					input#3(style='width:25px;' value="0")
					button(onclick="decrease(3)") -
				#hole4(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 4
					p Par 4
					button(onclick="increase(4)") +
					input#4(style='width:25px;' value="0")
					button(onclick="decrease(4)") -
				#hole5(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 5
					p Par 4
					button(onclick="increase(5)") +
					input#5(style='width:25px;' value="0")
					button(onclick="decrease(5)") -
				#hole6(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 6
					p Par 3
					button(onclick="increase(6)") +
					input#6(style='width:25px;' value="0")
					button(onclick="decrease(6)") -
				#hole7(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 7
					p Par 4
					button(onclick="increase(7)") +
					input#7(style='width:25px;' value="0")
					button(onclick="decrease(7)") -
				#hole8(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 8
					p Par 4
					button(onclick="increase(8)") +
					input#8(style='width:25px;' value="0")
					button(onclick="decrease(8)") -
				#hole9(style="float:left;margin-right:10px;width:50px;")
					h3 Hole 9
					p Par 4
					button(onclick="increase(9)") +
					input#9(style='width:25px;' value="0")
					button(onclick="decrease(9)") -	
				p#strokes Strokes